In [1]:
import pandas as pd

/Users/mirunapopa/anaconda2/lib/python2.7/site-packages/pandas/core/computation/__init__.py:18: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used
The minimum supported version is 2.4.6

  ver=ver, min_ver=_MIN_NUMEXPR_VERSION), UserWarning)

In [13]:
!mkdir data/2015_cleaned_data

In [26]:
df = pd.read_excel('data/Berlin Data - 2015.xlsx',sheetname = "Tab4.6")
# df.to_csv("data/2015_cleaned_data/data_throughout_years.csv",encoding='utf-8')
df
# df.to_csv("data/2015_cleaned_data/age_gender_split.csv")

,Bezirk — Geschlecht,Unnamed: 1,Bevölkerung,Unnamed: 3,Unnamed: 4,Unnamed: 5,Darunter Erwerbstätige,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,ins-\ngesamt,darunter mit einem\nmonatlichen Nettoeinkommen...,NaN,NaN,zu-\nsammen,darunter mit einem\nmonatlichen Nettoeinkommen...,NaN,NaN
1,NaN,NaN,NaN,unter\n500,500\n–\n900,900\nund \nmehr,NaN,unter\n500,500\n–\n900,900\nund \nmehr
2,Mitte,i,350,41,79.4,179.3,162.8,5.4,25.8,131.6
3,NaN,m,181.3,19.1,39.3,99.5,91.2,/,12.9,75.6
4,NaN,w,168.7,21.9,40.1,79.7,71.6,/,12.9,55.9
5,Friedrichshain-Kreuzberg,i,268.6,24.3,52.2,154.1,150.7,/,20,125.8
6,NaN,m,138.3,12.5,28,81.1,83.1,/,11.4,69.2
7,NaN,w,130.3,11.7,24.3,73.1,67.6,/,8.6,56.6
8,Pankow,i,379.3,20.2,50.4,255.6,215.7,/,17.1,195.6
9,NaN,m,182.2,8.3,23.6,123.4,105.6,/,7.5,97
10,NaN,w,197.1,11.9,26.8,132.2,110,/,9.6,98.6
11,Charlottenburg-Wilmersdorf,i,307.5,24.8,48.6,187.3,148.1,5.7,15.7,126.4
12,NaN,m,149.7,10.3,23,93.8,76.9,/,7.2,68
13,NaN,w,157.7,14.5,25.6,93.5,71.1,/,8.5,58.4
14,Spandau,i,226.7,23.7,44.7,127.5,85.9,/,10.7,72
15,NaN,m,110.3,9,19.5,67.8,49,/,6.2,41.2
16,NaN,w,116.5,14.7,25.2,59.6,36.9,/,/,30.8
17,Steglitz-Zehlendorf,i,286.3,20,37.4,178.7,124.2,5.2,11.8,107.3
18,NaN,m,126.7,6,14.4,84.2,59.4,/,/,52.9
19,NaN,w,159.6,14,23.1,94.6,64.8,/,7.1,54.3
20,Tempelhof-Schöneberg,i,330.1,28,52.7,195.3,158.8,9.6,19.1,130
21,NaN,m,159,11.4,24.3,99.1,79.8,/,7.7,67.6
22,NaN,w,171.1,16.7,28.5,96.2,79,5.1,11.4,62.4
23,Neukölln,i,318.6,38.3,68.6,155.3,135.8,7,23.9,105
24,NaN,m,155.5,17.8,33.9,78.8,72.3,/,12.4,56.4
25,NaN,w,163.1,20.5,34.6,76.6,63.5,/,11.4,48.6
26,Treptow-Köpenick,i,247.5,15.1,35,163.4,124.6,/,12.1,108.5
27,NaN,m,123.2,6.5,16,84.7,66.4,/,5.9,58.9
28,NaN,w,124.3,8.6,19,78.6,58.2,/,6.2,49.5
29,Marzahn-Hellersdorf,i,253.5,24.5,46.7,152,122.9,/,11.9,107.2
30,NaN,m,128,11.7,22.8,77.6,63.9,/,7.2,55
31,NaN,w,125.5,12.8,23.9,74.5,58.9,/,/,52.2
32,Lichtenberg,i,267.3,20.7,53.3,162.9,126.6,/,15.1,107.6
33,NaN,m,133.3,10.6,25.2,81.5,65.1,/,6.6,56.8
34,NaN,w,134,10.1,28.1,81.4,61.4,/,8.5,50.9
35,Reinickendorf,i,250.5,24.9,35.1,150.5,100.3,5.3,7.8,87.2
36,NaN,m,118.1,10.2,14.9,75.3,51.6,/,/,46
37,NaN,w,132.4,14.8,20.2,75.2,48.8,/,/,41.2
38,Land Berlin,i,3485.9,305.5,604.2,2061.9,1656.3,60,191,1404.1
39,NaN,m,1705.7,133.4,284.8,1046.7,864.3,26,93.2,744.5
40,NaN,w,1780.2,172.1,319.3,1015.2,791.9,34,97.9,659.6

In [6]:
pd.read_csv("/Users/mirunapopa/Downloads/Berlin Data - 2015 - Bevölkerung im Land Berlin 2015.csv")

,others,Merkmal (thousands),Insgesamt,Männlich,Weiblich,Männlich.1,Weiblich.1
0,Totals *.,Bevölkerung *.,"3,485.9","1,705.7","1,780.2",48.9,51.1
1,Familienstand,ledig *.,"1,757.3",932.0,825.3,53.0,47.0
2,NaN,verheiratet *.,"1,212.4",605.7,606.7,50.0,50.0
3,NaN,geschieden *.,321.2,129.9,191.3,40.4,59.6
4,NaN,verwitwet *.,195.0,38.1,156.9,19.5,80.5
5,Alter in Jahren,unter 15 *.,457.1,234.2,222.9,51.2,48.8
6,NaN,15 bis unter 20 *.,141.9,72.1,69.7,50.8,49.2
7,NaN,20 bis unter 25 *.,197.8,92.4,105.4,46.7,53.3
8,NaN,25 bis unter 30 *.,295.9,146.8,149.1,49.6,50.4
9,NaN,30 bis unter 35 *.,282.9,141.8,141.1,50.1,49.9
10,NaN,35 bis unter 40 *.,254.4,129.7,124.7,51.0,49.0
11,NaN,40 bis unter 45 *.,220.9,116.0,104.9,52.5,47.5
12,NaN,45 bis unter 50 *.,261.6,134.2,127.4,51.3,48.7
13,NaN,50 bis unter 55 *.,265.8,133.7,132.1,50.3,49.7
14,NaN,55 bis unter 60 *.,222.0,113.6,108.4,51.2,48.8
15,NaN,60 bis unter 65 *.,202.5,97.0,105.5,47.9,52.1
16,NaN,65 und mehr *.,683.1,294.2,388.9,43.1,56.9
17,Beteiligung am\n Erwerbsleben,Erwerbspersonen *.,"1,828.9",967.2,861.7,52.9,47.1
18,NaN,Erwerbstätige *.,"1,656.3",864.3,791.9,52.2,47.8
19,NaN,Erwerbslose *.,172.7,102.9,69.8,59.6,40.4
20,NaN,Nichterwerbspersonen *.,"1,657.0",738.5,918.5,44.6,55.4